<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/student/add" method="post" th:object="${student}">
    ID: <input type="text" th:field="*{id}"><br>
    Name: <input type="text" th:field="*{id}"><br>
    Gender: <input type="radio" value="true" th:field="*{gender}">Male
    <input type="radio" value="false" th:field="*{gender}">Female<br>
    Score: <input type="text" name="score" th:field="*{score}">
    <input type="submit" value="Add">
</form>
</body>
</html>