<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="/student/edit" method="post" th:object="${student}">
    <span>ID: <input th:field="*{id}"></span>
    <span>Name: <input th:field="*{name}"></span>
    <span>Gender: <select th:field="*{gender}">
        <option value="true" th:text="${'male'}"></option>
        <option value="false" th:text="${'female'}"></option>
    </select>
    </span>
    <span>Score: <input th:field="*{score}"></span>
    <input type="submit" value="Update">
</form>
</body>
</html>